.eachListCon {
  border-radius: 5px;
  border-width: 0.5px;
  border-color: white;
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  background-size: cover;
}
.intialName {
  height: 35px;
  border-radius: 50px;
  color: white;
  background-color: green;
  text-align: center;
  margin-right: 7px;
  background-size: cover;
  padding: 5px;
}
.mailFirst {
  font-size: 30px;
  background-color: green;
  border-radius: 50px;
  padding: 15px;
  color: white;
  margin-right: 15px;
}
.starImg {
  height: 10px;
  width: 100%;
}
.deleteImg {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
